footer {
    background: linear-gradient(to top right, #5A98F2, #67C3F3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__container {
    max-width:100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.bottom_navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    width: 100%;
}



    .bottom_navigate nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }



    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    footer a {
        color: #FFFFFF;
        font-weight: 700;
    }
