.hero__section {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 100%;
    overflow: hidden;
}

.dots_image {
    width: 100px;
    height: 115px;
    position: absolute;
    z-index: -1;
    bottom: 560px;
    left: 100px
}

.cloud_image {
    width: 779px;
    height: 557px;
    z-index: -1;
    position: absolute;
    right: -200px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.hero__divider {
    height: 3px;
    width: 60px;
    color: #000000;
    margin-top: 32px;
    border-radius: 20%;
    background-color: #555;
}

.hero__articles {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}

.hero__article {
    max-width: 350px;
    margin-right: 16px;
    margin-left: 16px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 21px;
    background-color: #ffffff;
}

    .hero__article p {
        margin-top: 24px;
    }

.hero__content button {
    margin-top: 40px;
    padding: 20px 64px;
}

.button {
    margin-top: 40px;
    color: #4089ED;
    border: none;
    background-color: #ffffff;
    padding: 0px 0px;
}

    .button a {
        color: #4089ED;
    }

.title__description img {
    margin-left: 16px;
}

.article_img {
    width: 350px;
    height: auto;
}

.title__description {
    max-width: 100%;
    padding-top: 32px;
    padding-bottom: 42px;
    padding-left: 34px;
    padding-right: 72px;
}

.hero__button {
    border: 2px solid dodgerblue;
    background-color: white;
    font-weight: 500;
    height: 20px;
    color: dodgerblue;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 18px;
    margin-top:40px;
}
