#flies__content {
    top: 10px;
    left:40px;
    display: flex;
    flex-flow: row;
    justify-content: left;
    margin: 20px 0;
}

.fly-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 80px;
    padding: 20px;
    margin: 20px;
    line-height: 20px;
    width: 270px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fly-item img {
    border-radius: 4px;
    margin-bottom: 10px;
}

#total-mass {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

.fly-item button {
    height: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 700;
    background-color: #5c9eff;
}

#formTitle {
    padding-top:10px;
    padding-bottom: 20px;
    text-align: center;
}

#flyForm {
    display: flex;
    flex-flow: column;
    max-width: 500px;
    justify-content: center;
    text-align: center;
    margin:auto;
}

#flyForm label {
    margin-bottom: 8px;
    margin-top: 20px;
}

#flyForm input {
    border: 1px solid;
    height: 30px;
    border-radius: 10px;
}

#flyForm button {
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    background: #5c9eff;
}
#flyForm button:last-child {
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    background: #ff0000;
}
