.user-testimony__section {
	background-color: #f2f7fc;
	margin-top: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 140px 180px 0px;
}



.user-testimony__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	padding: 0 20px;
	background: linear-gradient(to top right, #5A98F2, #67C3F3);
	border-radius: 24px;
	padding: 74px 110px 79px 105px;
	margin: 0 auto;
}

.user-testimony__content h1 {
	color: #FFFFFF;
}

.user-testimony_divider {
	height: 2px;
	width: 90px;
	color: white;
	margin-top: 40px;
	border-radius: 20%;
	background-color: white
}

.user-testimony__horizontal_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 66px;
}


.user-testimony__horizontal_content img {
	width: 141px;
	margin-right: 30px;
}

.person_info {
	margin-right: 70px;
}

.name {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 700;
	min-width: 200px;
}

.status {
	color: #FFFFFFD9;
	font-size: 19px;
}

.quote {
	color: #FFFFFF;
	width: 390px;
	font-size: 19px;
}

.user-testimony__button_left {
	margin-right: 30px;
}

.user-testimony__button_right {
	margin-left: 30px;
}

.user-testimony__navigate {
	margin-top: 40px;
	margin-bottom: 100px;
	display: block;
	justify-content: space-between;

}

.user-testimony__navigate button {
	border: none;
	margin-right: 90px;
	margin-left: 90px;
	background: transparent;
}

@media screen and (max-width: 1285px) {
	.user-testimony__section {
		background-color: #f2f7fc;
		margin-top: 140px;
		display:block;
		align-items: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 3em 3em 0px;
		overflow: hidden;
	}
	
	.name {
		text-align: center;	
	}

	.user-testimony__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to top right, #5A98F2, #67C3F3);
		border-radius: 24px;
		padding: 24px 4vw 79px 4vw;
	}

		.user-testimony__content h1 {
			font-size: 2em;
			text-align: center;
			color: #FFFFFF;
		}

	.user-testimony_divider {
		height: 2px;
		width: 90px;
		color: white;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 20%;
		background-color: white;
	}

	.user-testimony__horizontal_content {
		display:contents;
		margin-right: 0px
	}

	.user-testimony__horizontal_content img {
		margin-right: 0px;
	}

	.status {
		text-align: center
	}


	.person_info {
	margin-right: 0px;
	}

	.quote {
		max-width: 90%;
		text-align: center;
		color: #FFFFFF;
		width: 390px;
		font-size: 19px;
	}

	.user-testimony__navigate {
		align-content: center;
		margin-top: 40px;
		margin-bottom: 40px;
		display: block;
		position: relative;
		text-align: center;
	}
}
