/* src/components/Features.css */
.features {
    padding: 90px 20px;
    background-color: #e0e0e0;
}

.features .feature-item {
    margin: 20px 0;
    font-size: 1.6em;
}

.features h3 {
    font-size: 1.65em;
    margin:30px;
}
