.footer {
    background-color: #6a6868;
    color: #fff;
    padding: 0.4rem 2rem;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
}

.social-links {
    display: flex;
    gap: 1.5rem;
    flex: 1;
    justify-content: flex-start;
}

.branding{
    flex: 1;
    text-align: center;
}

.social-links a {
    color: #bceef9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-image {
    width: 3%;
    height: auto;
    padding:3px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.social-image:hover {
    background: #333333;
    padding: 3px;
    border-radius: 10px;
}

.social-links a:hover {
    color: #ff69b4;
}