.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a6868;
    color: #fff;
    padding: 0.7rem 1.7rem;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}

.logo-image {
    width: 30px;
    background: white;
    padding: 3px;
    border-radius: 10px;
    height: auto;
    margin-right: 0.5rem;
}

.nav {
    padding-right: 190px;
    margin: auto;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nav a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;

}

.nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}

.nav a:hover {
    color: #7bd1ff;
}

.nav b {
    position: relative;
    text-decoration: none;
    color: #333333;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    transition: 0.3s ease;
}

.nav b:hover {
    background-color: #e8e8e8;
    color: #7bd1ff;
}
