/* src/components/Hero.css */
.hero {
    padding: 7.2vh 20px;
    background-color: #f4f4f4;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.hero .cta-button {
    padding: 15px 20px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.2s;
}

.hero .cta-button:hover{
    font-size: 1.2em;
}