.tile {
    width: 22%;
    background-color: #ffffff;
    padding: 0.8rem;
    height: 370px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    flex-flow: column;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.tile:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.image-placeholder {
    width: 100%;
    height: 270px;
    background-color: #eaeaea;
    border-radius: 8px;
    overflow: hidden;
}

.bug-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tile h2 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 0.5rem;
}

.tile p {
    color: #666;
}